<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="<%- settings.CONFIG.STATIC_URL %>/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    LendMe
  </a>
  <p class="navbar-brand d-inline-block align-top">LendMe Bajo la licencia MIT, software pensado por estudiantes para la comunidad  universitaria.</p>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i>
</a>
    </li>
  </ul>
</nav>