<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">LendMe</a>
  <p class="p-inline"><%-USER.user_name%> <%-USER.user_lastname%><a href="#">(Salir)</a></p>
</nav>