<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="col s2">  
    <a class="navbar-brand">
      <img src="<%-settings.CONFIG.STATIC_URL %> ../assets/img/lend-me-logo.png" class="d-inline-block align-top" alt=""></a>
  </div>
  <p class="p-inline"><%-USER.user_name%> <%-USER.user_lastname%><a href="#">(Salir)</a></p>
</nav>