<%- include partials/menu_bar.ejs %>
<div class= "container">
  <div class = "center">
    <h1>Histórico de solicitudes</h1>
  </div>
  <div class = "row">
    <div class = "col col-sm-12">
      <table class = "table">
        <thead>
          <tr>
            <th scope = "col">Descripción</th>
            <th scope = "col">Fecha</th>
            <th scope = "col">Estado</th>
          </tr>
        </thead>
        <tbody class="listReq">
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>