<%- include partials/menu_bar.ejs %>
<div class="container panel">
  <div class="row">
    <div class="col s12 center">
      <h1>Panel de Solicitudes</h1>
      <h4>Bienvenid@ <%- USER.user_name %> Selecciona una de las siguientes opciones:</h4>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col s6 center">
        <h3><a href="#">Nueva Solicitud</a></h3>
      </div>
      <div class="col s6 center">
        <h3><a href="#">Ver mis solicitudes</a></h3>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>