<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    LendMe
  </a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Pedir espacios en tu Universidad, nunca fue tan fácil</h1>
    <p class="lead">Con LendMe Puedes pedir espacios desde tu casa, de forma rápida, segura y confiable.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/signin" role="button">Comenzar</a>
    </p>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col s12">
      <h1 class = "center">Acerca de nosotros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h3 class = "center">Historia</h3>
      <p>Somos estudiantes de la <a href="www.usach.cl">Universidad de Santiago de Chile...</a> </p>
    </div>
    <div class="col s6">
      <h3 class = "center">Motivación</h3>
      <p>Como estudiantes entendemos que la comunidad universitaria...</p>
    </div>
  </div>
  <div class="row">
    <div class = "col s12 center">
      <h1 class ="center">Nuestro Equipo</h1>
    </div>
  </div>
  <div class="row">
    <div class = "col s3">
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="/assets/img/mauro.jpg" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Mauricio Del Río</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>
    </div>
    <div class = "col s3"> 
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="/assets/img/katty.png" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Katherine Muñoz</p>
          <p class="card-text">Arquitecta - Desarrolladora</p>
        </div>
      </div>
    </div>
    <div class = "col s3"> 
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="/assets/img/ricardo.png" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Ricardo Aedo</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>
    </div>
    <div class = "col s3">  
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="/assets/img/bryan.jpeg" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Bryan Nuñez</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>       
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>