<%- include partials/menu_bar.ejs %>
<div class = 'container panel'>
  <div class = "center">
    <h1>Nueva Solicitud</h1>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <form id="filter" action="get">
        <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="exampleFormControlSelect1">tipo de solicitud</label>
                <select class="form-control" id="tipo_solicitud" name="type_sol" >
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">tipo de espacio</label>
              <select class="form-control" id="tipo_espacio" name="type_spa">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">bloque</label>
              <select class="form-control" id="bloque" name="time_interval">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class='col'>
            <div class="form-group">
              <label for="exampleFormControlInput1">Cantidad de personas</label>
              <input class="form-control" id="capacidad" placeholder="" name="capacity">
            </div>
          </div>
          <div class='col'>
            <div class="form-group">
              <label for="exampleFormControlInput1">Día</label>
              <input class="form-control" id="dia" name="day">
            </div>
          </div>
          <div class='col'>
            <div class="form-group">
              <label for="exampleFormControlInput1">Mes</label>
              <input class="form-control" id="mes" name="month">
            </div>
          </div>
          <div class='col'>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Recurrente</label>
              <input class="form-check-input" type="checkbox" name="recurrent">
            </div>
          </div>
          <div class='col'>
            <button type="submit" class="btn btn-primary" name="action">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>

<script src="<%- settings.CONFIG.STATIC_URL %>/assets/js/new_request.js"></script>
<script>
  jQuery(function(){
    new window.NewRequest()
  })
</script>