<div class = "container">
  <div class = "row">
    <div class = "col col-sm-12 center">
      <h1>Ingresar</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col col-sm-12">
      <form id="form-signin" action="post" action="#">
        <div class="input-field col col-sm-12">
          <input type="email" name="email" id="signin-email" class="validate" />
          <label for="signin-email">Email</label>
        </div>
        <div class="input-field col col-sm-12">
          <input type="password" name="password" id="signin-password" class="validate" />
          <label for="signin-password">Password</label>
        </div>
        <div class="input-field col col-sm-12">
          <button class="btn-floating waves-effect waves-light" type="submit" name="action">
            <i class="material-icons">check</i>
          </button>
        </div>
      </form>      
    </div>
  </div>
</div>


<script src="<%- settings.CONFIG.STATIC_URL %>/assets/js/signin.js"></script>
<script>
  jQuery(function(){
    new window.Signin()
  })
</script>