<%- include partials/menu_bar.ejs %>
<div class = "row">
  <div class = "col col-sm-12 center">
    <h1>Borrar tipo espacio</h1>
  </div>
</div>
<div class = "row">
  <div class = "col col-sm-12">
    <form id="delete_t_space">
      <div class="row">
        <div class= "col col-sm-6">
          <div class="form-group">
            <label for="exampleFormControlSelect1">tipo de solicitud</label>
            <select class="form-control" id="t_space_del" name="type_spa_id" >
            </select>
          </div>
        </div>
        <div class= "col col-sm-6">
          <button id="conf_button" type="submit" class="btn btn-primary" name="action">Modificar</button>
        </div>
      </div>
    </form>
  </div>
  <%- include partials/footer.ejs %>
<script id="opt_t_spa" type="text/x-jquery-tmpl">
  <option value="${id}">${name}</option>
</script>
<script src="<%- settings.CONFIG.STATIC_URL %>/assets/js/t_space_delete.js"></script>
<script>
  jQuery(function(){
    new window.tDelete()
  })
</script>