<div class= "container">
  <div class = "center">
    <h1>Usuarios totales</h1>
  </div>
  <div class = "row">
    <div class = "col col-sm-12">
      <table class = "table">
        <thead>
          <tr>
            <th scope = "col">Id</th>
            <th scope = "col">Nombre</th>
            <th scope = "col">Mail</th>
            <th scope = "col">Status</th>
          </tr>
        </thead>
        <tbody class= "users-results">
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="<%- settings.CONFIG.STATIC_URL %>/assets/js/users.js"></script>
<script>
  jQuery(function(){
    new window.User()
  })
</script>