a {
  color: #000000 !important;
}

a:hover {
  color: #000000;
}

.img-circle {
  border-radius: 50%;
  width: 100%;
}

img {
  width: 100%;
}

.navbar {
  background-color: #ffffff !important;
}

.nav {
  color: #000000 !important;
}

.panel {
  height: 85vh;
}

body > nav.navbar.navbar-light.bg-light.justify-content-between > p {
  color: #000000;
}

.jumbotron {
  background-image: url("/assets/img/classroom.jpg");
  background-color: #17234E;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.logo {
  width: 7em;
}